html
	head
		title!=title
		include head
		style: include css/font.css
		style.
			body, h1, h2, h3, h4, h5, h6 { font-size: larger; }
		style: include css/view.css
		if color !== null
			style: include css/img.css
			style.
				img, video, audio { border-color: #{color}; }

		// Open Graph (https://ogp.me/)
		meta(property='og:type' content=ogtype)
		meta(property=urlType content=discordUrl)
		.
			!{opengraph}

		// oEmbed (https://oembed.com/)
		link(href=oembedUrl title='oEmbed' rel='alternate' type='application/json+oembed')

	body
		#container
			#content
				h4!=title
				figure
					if fileIs.video 
						video#media(controls loop muted playsinline preload='metadata')&attributes(resourceAttr)
					else if fileIs.image
						img#media(decoding='async')&attributes(resourceAttr)
					else if fileIs.audio
						audio#media(controls loop preload='metadata')&attributes(resourceAttr)
					else
						code!=title
					figcaption
						br
						span Uploaded by #[strong!=uploader]
						br
						small #{timestamp} (#{size})
				#footer: p Image hosted by #[a(href='https://github.com/tycrek/ass' target='_blank'): strong ass], the superior self-hosted ShareX server
